*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    font-size: 0.9rem;
}

.google-header{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-link{
    color: inherit;
    text-decoration: none;
}

.text-link:hover{
    text-decoration: underline;
}

.icon-link{
    font-size: 1rem;
    color: inherit;
    width: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

.icon-link:hover{
    background: rgb(218, 220, 222);
}

.img-button{
    border: none;
    background: transparent;
}

.img-button img{
    width: 35px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}